@import "../bower_components/bootstrap/less/bootstrap.less";
@icon-font-path: "../fonts/glyphicons/";

@import "../bower_components/font-awesome/less/font-awesome.less";
@fa-font-path: "../fonts/font-awesome";

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

@beige: #F6F2E2;
@brick: #F52900;
@gray: #A0CED0;
@strong-gray: #414042;
@orange: #F52F04;
@light-bg: #E5E5D7;
@orange: #F62E07;
body, html {
    font-size: 10px;
}

body {
    background: @beige;

    header {
        heigth: 300px;
        & > * {
            margin: 0;
        }
        span {
            font-size: 2em;
        }
        h1 {
            color: @strong-gray;
            font-size: 3.8em;
        }
        h2 {
            color: @brick;
            font-size: 1.8em;
        }
    }
}
